.TitleScreen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
  }
  
  .TitleScreen_logo {
    display: block;
    margin: 0 auto;
    width: 128px;
  
  }
  
  .TitleScreen .KeyboardMenu {
    position: relative;
    width: 100px;
    margin: 0 auto;
    background: transparent;
    border: 0;
  }
  .TitleScreen button {
    position:absolute;
    color: #ffffff;
    background-color: #737373;
    justify-content: center;
    bottom: -40px !important;
    padding:0;
  }
  
  .TitleScreen .DescriptionBox {
    background: transparent;
    color: #fff;
    border: 0;
    text-align: center;
  }
 
  